In [3]:
import pandas as pd

In [4]:
tele= pd.read_excel('D:\Downloads\Telemarketing.xlsx')

In [190]:
tele.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Timestamp,Lead Name,Lead Validation,Calling Date & Time,Picked the phone,Reason Why Phone is not picked,Email (Optional),City,Lead Interested or Not,Insert Meeting Date & Time Slot,Please state the major highlights of the call.,Select the Reason
2,2019/11/30 11:59:05 AM GMT+5:30,Naveen Garg,Valid Contact,2019-11-30 10:20:00,Yes,NaN,NaN,Kota,No,NaN,NaN,all read used solar

In [5]:
tele.drop(tele.index[0],inplace=True)

In [6]:
tele.columns = tele.iloc[0]
tele.drop(tele.index[0],inplace=True)

In [7]:
tele.reset_index(inplace=True)
tele.head(3)

1,index,Timestamp,Lead Name,Lead Validation,Calling Date & Time,Picked the phone,Reason Why Phone is not picked,Email (Optional),City,Lead Interested or Not,Insert Meeting Date & Time Slot,Please state the major highlights of the call.,Select the Reason
0,2,2019/11/30 11:59:05 AM GMT+5:30,Naveen Garg,Valid Contact,2019-11-30 10:20:00,Yes,NaN,NaN,Kota,No,NaN,NaN,all read used solar
1,3,2019/11/23 7:33:23 PM GMT+5:30,Harish,Valid Contact,2019-11-23 12:10:00,Yes,NaN,NaN,Kota,No,NaN,NaN,all ready solar used
2,4,2019/11/11 4:27:04 PM GMT+5:30,Shubh Hospital,Valid Contact,2019-11-11 16:20:00,Yes,NaN,NaN,Jaipur,No,NaN,NaN,all ready used

In [38]:
tele.shape

(1570, 13)

In [39]:
tele['Lead Interested or Not'].isna().sum()

836

In [40]:
tele1= tele[tele['Lead Interested or Not'].notna()]

In [41]:
tele1.shape

(734, 13)

In [42]:
from sklearn.preprocessing import LabelEncoder
labelencoder= LabelEncoder()

In [44]:
tele1['Lead Interested or Not']= labelencoder.fit_transform(tele1['Lead Interested or Not'])

D:\Python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
pd.pivot_table(tele1,index=['City'],values='Lead Interested or Not')

1       Lead Interested or Not
City
Indore                0.186667
Jaipur                0.048851
Kota                  0.094340
Other                 1.000000

In [46]:
tele['Picked the phone'].isna().sum()

53

In [54]:
tele2= tele

In [59]:
tele2['Picked the phone'].describe()

count     1570
unique       2
top        Yes
freq       953
Name: Picked the phone, dtype: object

In [57]:
tele2['Picked the phone']= tele2['Picked the phone'].replace('Yes, but mentioned to call later', 'Yes')

In [58]:
tele2['Picked the phone'].fillna('No',inplace=True)

In [60]:
tele2['Picked the phone'] = labelencoder.fit_transform(tele2['Picked the phone'])

In [62]:
pd.pivot_table(tele2,index=['City'],values='Picked the phone')

1       Picked the phone
City
Indore          0.587800
Jaipur          0.631356
Kota            0.583072
Other           1.000000

In [9]:
import re

In [108]:
for i in range(len(tele1['Lead Name'])):
    if re.search('Hospital|chool|estaurant|ltd|bhawan|enterprise|fitness|Mugs|mandir|company|Garment|home|ducation|Hotel|Drunk|Desi|arden|esort|Associa|Sons|Ltd|Limited|Architect|pvt|engineering|elecom|Event|Hall|Paradise|Point|market|steel|mugs|palace|academy|Centre|Advocates|Public|Trade|Dhaba|Cafe|Park|International|Waffle|Heights|Marble|Construction|Studio|Hostel',tele1['Lead Name'][i]):
        tele1['Lead Name'][i]= 'Organisation'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [99]:
tele1['Lead Name']= tele11['Lead Name']

D:\Python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
tele11= tele[tele['Lead Interested or Not'].notna()]

In [112]:
#tele1.reset_index(inplace=True)
tele1.head()

1,level_0,index,Timestamp,Lead Name,Lead Validation,Calling Date & Time,Picked the phone,Reason Why Phone is not picked,Email (Optional),City,Lead Interested or Not,Insert Meeting Date & Time Slot,Please state the major highlights of the call.,Select the Reason
0,0,2,2019/11/30 11:59:05 AM GMT+5:30,Person,Valid Contact,2019-11-30 10:20:00,Yes,NaN,NaN,Kota,0,NaN,NaN,all read used solar
1,1,3,2019/11/23 7:33:23 PM GMT+5:30,Person,Valid Contact,2019-11-23 12:10:00,Yes,NaN,NaN,Kota,0,NaN,NaN,all ready solar used
2,2,4,2019/11/11 4:27:04 PM GMT+5:30,Organisation,Valid Contact,2019-11-11 16:20:00,Yes,NaN,NaN,Jaipur,0,NaN,NaN,all ready used
3,3,5,2019/11/11 4:12:52 PM GMT+5:30,Organisation,Valid Contact,2019-11-11 15:24:00,Yes,NaN,NaN,Jaipur,0,NaN,NaN,all ready used solar
4,4,6,2019/11/11 4:25:38 PM GMT+5:30,Organisation,Valid Contact,2019-11-11 16:00:00,Yes,NaN,NaN,Jaipur,0,NaN,NaN,all ready used solar

In [111]:
for i in range(len(tele1['Lead Name'])):
    if re.search('^(?!Organisation).*',tele1['Lead Name'][i]):
        tele1['Lead Name'][i]= 'Person'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
tele1['Lead Name'].describe()

count        734
unique         2
top       Person
freq         652
Name: Lead Name, dtype: object

In [114]:
pd.pivot_table(tele1,index=['Lead Name'],values='Lead Interested or Not')

1             Lead Interested or Not
Lead Name
Organisation                0.158537
Person                      0.096626

In [115]:
tele1ind= tele1[tele1['City']=='Indore']

In [116]:
pd.pivot_table(tele1ind,index=['Lead Name'],values='Lead Interested or Not')

1             Lead Interested or Not
Lead Name
Organisation                0.218182
Person                      0.176471

In [119]:
telex= tele.copy()

In [123]:
import datetime
telex['Time'] = tele['Calling Date & Time'].dt.time

In [126]:
telex.head(2)

1,index,Timestamp,Lead Name,Lead Validation,Calling Date & Time,Picked the phone,Reason Why Phone is not picked,Email (Optional),City,Lead Interested or Not,Insert Meeting Date & Time Slot,Please state the major highlights of the call.,Select the Reason,Time
0,2,2019/11/30 11:59:05 AM GMT+5:30,Naveen Garg,Valid Contact,2019-11-30 10:20:00,1,NaN,NaN,Kota,No,NaN,NaN,all read used solar,10:20:00
1,3,2019/11/23 7:33:23 PM GMT+5:30,Harish,Valid Contact,2019-11-23 12:10:00,1,NaN,NaN,Kota,No,NaN,NaN,all ready solar used,12:10:00

In [174]:
tele22= telex.copy()

In [175]:
tele22['Picked the phone']= tele22['Picked the phone'].replace('Yes, but mentioned to call later', 'No')
tele22['Picked the phone'].fillna('No',inplace=True)
tele22['Picked the phone'] = labelencoder.fit_transform(tele22['Picked the phone'])

In [134]:
telex['Time']= telex['Calling Date & Time'].dt.strftime("%H:%M:%S")
telex['Time'][0]

'10:20:00'

In [176]:
for i in range(len(tele22['Time'])):
    if re.search('\A(10|11|12|13|14)',tele22['Time'][i]):
        tele22['Time'][i]= 'Afternoon'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [138]:
tele22.head(2)

1,index,Timestamp,Lead Name,Lead Validation,Calling Date & Time,Picked the phone,Reason Why Phone is not picked,Email (Optional),City,Lead Interested or Not,Insert Meeting Date & Time Slot,Please state the major highlights of the call.,Select the Reason,Time
0,2,2019/11/30 11:59:05 AM GMT+5:30,Naveen Garg,Valid Contact,2019-11-30 10:20:00,1,NaN,NaN,Kota,No,NaN,NaN,all read used solar,Morning
1,3,2019/11/23 7:33:23 PM GMT+5:30,Harish,Valid Contact,2019-11-23 12:10:00,1,NaN,NaN,Kota,No,NaN,NaN,all ready solar used,Morning

In [171]:
for i in range(len(tele22['Time'])):
    if re.search('\A14',tele22['Time'][i]):
        tele22['Time'][i]= 'Afternoon'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [177]:
for i in range(len(tele22['Time'])):
    if re.search('\A(15|16|17|18)',tele22['Time'][i]):
        tele22['Time'][i]= 'Evening'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [178]:
for i in range(len(tele22['Time'])):
    if re.search('\A(19|20|21|22|23|00|01|02|03|04)',tele22['Time'][i]):
        tele22['Time'][i]= 'Night'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [142]:
for i in range(len(tele22['Time'])):
    if re.search('\A(05|06|07|08|09)',tele22['Time'][i]):
        tele22['Time'][i]= 'Early Morning'

In [179]:
pd.pivot_table(tele22,index=['Time'],values='Picked the phone')

1          Picked the phone
Time
Afternoon          0.617261
Evening            0.657005
NaT                0.000000
Night              0.621622

In [180]:
tele23= tele22.copy()

In [181]:
tele23= tele23[tele23['Lead Interested or Not'].notna()]
tele23['Lead Interested or Not']= labelencoder.fit_transform(tele23['Lead Interested or Not'])

In [182]:
pd.pivot_table(tele23,index=['Time'],values='Lead Interested or Not')

1          Lead Interested or Not
Time
Afternoon                0.097701
Evening                  0.121212
Night                    0.071429

In [183]:
tele['Select the Reason'].describe()

count                              658
unique                              27
top       Reason not given by Customer
freq                               596
Name: Select the Reason, dtype: object

In [194]:
for i in range(len(tele['Select the Reason'])):
    if re.search('read',tele['Select the Reason'][i]):
        tele['Select the Reason'][i]= 'already used solar'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: expected string or bytes-like object

In [197]:
for i in range(len(tele['Select the Reason'])):
    if re.search('rent|Rent',tele['Select the Reason'][i]):
        tele['Select the Reason'][i]= 'Rented house'

D:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: expected string or bytes-like object

In [200]:
tele1jai= tele1[tele1['City']=='Jaipur']
tele1kota= tele1[tele1['City']=='Kota']

In [209]:
tele1ind.reset_index(drop=True,inplace=True)
tele1jai.reset_index(drop=True,inplace=True)
tele1kota.reset_index(drop=True,inplace=True)

In [213]:
a= len(tele1ind['City'])
b= len(tele1jai['City'])
c= len(tele1kota['City'])

In [215]:
ind= tele1ind[tele1ind['Select the Reason'].notna()]
jai= tele1jai[tele1jai['Select the Reason'].notna()]
kot= tele1kota[tele1kota['Select the Reason'].notna()]

In [223]:
p=0
for i in range(len(ind['Select the Reason'])):
    if re.search('Rent|rent',ind['Select the Reason'][i]):
        p=p+1
print(p/a)

0.03111111111111111

In [224]:
p=0
for i in range(len(jai['Select the Reason'])):
    if re.search('Rent|rent',jai['Select the Reason'][i]):
        p=p+1
print(p/b)

0.014367816091954023

In [225]:
p=0
for i in range(len(kot['Select the Reason'])):
    if re.search('Rent|rent',kot['Select the Reason'][i]):
        p=p+1
print(p/c)

0.012578616352201259

In [226]:
p=0
for i in range(len(ind['Select the Reason'])):
    if re.search('read',ind['Select the Reason'][i]):
        p=p+1
print(p/a)

0.008888888888888889

In [227]:
p=0
for i in range(len(jai['Select the Reason'])):
    if re.search('read',jai['Select the Reason'][i]):
        p=p+1
print(p/a)

0.06222222222222222

In [228]:
p=0
for i in range(len(kot['Select the Reason'])):
    if re.search('read',kot['Select the Reason'][i]):
        p=p+1
print(p/a)

0.035555555555555556